[submodule "2015"]
	path = 2015
	url = https://github.com/btbatw/symposium-2015.git
    branch = website

[submodule "2016"]
	path = 2016
	url = https://github.com/btbatw/symposium-2016.git
	branch = website

[submodule "2019"]
	path = 2019
	url = https://github.com/btbatw/symposium-2019.git
	branch = website

[submodule "2020"]
	path = 2020
	url = https://github.com/btbatw/symposium-2020.git
	branch = website

[submodule "2021"]
	path = 2021
	url = https://github.com/btbatw/symposium-2021.git
	branch = website

[submodule "2017"]
	path = 2017
	url = https://github.com/btbatw/symposium-2017.git
	branch = website

[submodule "2018"]
	path = 2018
	url = https://github.com/btbatw/symposium-2018.git
	branch = website

[submodule "2022"]
	path = 2022
	url = https://github.com/btbatw/symposium-2022.git
	branch = gh-pages
