---
layout: default
title: Committee
---

<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            Our Leadership
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            Our organization is constituted by passionate volunteers and led by two co-chairs on a one-year-term basis. We always welcome people to join and help make the Taiwanese biotech community thrive!
        </p>
    </div>
</div>

<hr class="mt-5 mb-4" />

<h2>Meet Our Team of Year</h2>

<ul class="nav" role="tablist">
    {% assign years = "2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013" | split: ", " %}
    {% for year in years %}
    <li class="nav-item">
        <a class="nav-link {% if forloop.first == true %}active{% endif %}" data-toggle="tab" href="#{{ year }}" role="tablist" aria-expanded="{% if forloop.first == true %}true{% else %}false{% endif %}">
            {{ year }}
        </a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content tab-space">
    {% for year in years %}
    <div class="tab-pane {% if forloop.first == true %}active{% endif %}" id="{{ year }}" aria-expanded="true">
        <div class="row">
            {% for row in site.data.committee[year] %}
            <div class="col-6 col-md-4 col-lg-3 p-0 d-flex align-items-stretch">
                <div class="rounded border border-neutral m-2 p-3 p-lg-4 w-100">
                    <div class="text-center">
                        <img src="{{ "/assets/img/committee/" | append: row['Headshot Name'] | absolute_url }}" 
                            class="img-fluid w-100 rounded-circle" alt="" style="max-width: 10rem;">
                    </div>
                    <div class="d-flex mt-4">
                        <div>
                            <h4 class="mb-0">
                                <strong>{{ row['Name in English'] }}</strong>
                            </h4>
                            <h4 class="mb-0">
                                <strong>{{ row['Name in Chinese'] }}</strong>
                            </h4>
                            <p class="mb-0">{{ row['Position title on the website'] }}</p>
                        </div>
                        <div class="align-self-start ml-auto">
                            {% if row.LinkedIn %}
                            <button class="btn btn-neutral btn-fab btn-icon btn-round m-0">
                                <a href="{{ row.LinkedIn }}" target="_blank">
                                    <img src="{{ "/assets/img/linkedin_logo.svg" | absolute_url }}" class="rounded-0 pl-1" style="height: 1rem;" alt="">
                                </a>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>