---
layout: default
title: Podcast
about-podcast: |
    生技來一刻是由 Boston Taiwanese Biotechnology Association （BTBA）發行，Taipei Economic and Cultural Office (TECO) in Boston 贊助。旨在分享在美台灣生技人於職涯上的經歷和創見，盼透過和已在美國各地生技產業就業的學長姐的連線訪談，帶給即將入門生技行業的學子一個方向，提攜後進，並加強台美生技人之間彼此的連結，教學相長。

    新手上路，請多指教，有任何建議歡迎寄信到：tmrbiotech.moments@gmail.com
summary: The main goal of the Advanced Podcast series is to expose Taiwanese-American biotech professionals to a variety of career opportunities and possibilities in biotech/pharmaceutical corporates for career advancement and development, and to encourage the younger generations of Taiwanese international students and postdocs the exchange of ideas for career planning and potentials.
---
<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            BTBA Podcast
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            {{ page.summary | markdownify }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 order-2 order-md-1">
        <hr class="mt-5 mb-4" />
        <h2>Team</h2>
        {% for role in site.data.podcast-committee.roles.2022 %}
            <h4 class="mt-4">{{ role }}</h4>
            {% for person in site.data.podcast-committee.2022 %}
                {% if person['Position title on the website'] == role %}

                <div class="row mb-3">
                    <div class="col-3 col-md-4">
                        {% if person['Headshot Name'] %}
                            <img src="{{ "/assets/img/committee/" | append: person['Headshot Name'] | absolute_url }}" class="img-fluid w-100" alt="{{ person.name }}">
                        {% endif %}
                    </div>
                    <div class="col d-flex flex-column justify-content-around">
                        <div>
                            <h4 class="mb-0"><strong>{{ person['Name in English'] }}</strong></h4>
                            <p><strong>{{ person['Name in Chinese'] }}</strong></p>
                        </div>
                        <div>
                            {% if person.Twitter %}
                            <a href="https://twitter.com/{{ person.Twitter | replace: '@', '' }}" target="_blank">
                                <img src="{{ "/assets/img/twitter_logo.svg" | absolute_url }}" class="rounded-0 pl-1" style="height: 1rem;" alt="">
                            </a>
                            {% endif %}
                            {% if person.LinkedIn %}
                            <a href="{{ person.LinkedIn }}" target="_blank">
                                <img src="{{ "/assets/img/linkedin_logo.svg" | absolute_url }}" class="rounded-0 pl-1" style="height: 1rem;" alt="">
                            </a>
                            {% endif %}
                        </div>                        
                    </div>
                </div>

                {% endif %}
            {% endfor %}
        {% endfor %}

        <h2 class="mt-5">Contact</h2>
        <p class="font-weight-bold">
            tmrbiotech.moments@gmail.com
        </p>
    </div>
    <div class="col-md-8 order-1 order-md-2">
        <hr class="mt-5 mb-4" />
        <h2>Most Recent Episodes</h2>
        {% for episode in site.podcast reversed %}
        <div>
            <p class="mb-0">{{ episode.path | date: "%b %d, %Y" }}</p>
            <h4 class="">
                <a href="{{ episode.link }}">
                    {{ episode.title }}
                </a>
            </h4>
            {{ episode.content | markdownify }} 
            <!-- {{ episode.embed }} -->
            <div class="row">
                <div class="col mr-auto pt-1">
                    {% for guest in episode.guests %}
                    <p>
                        <a href="{{ guest.linkedin }}">
                            ⇨ {{ guest.name }}'s LinkedIn
                        </a>
                    </p>
                    {% endfor %}
                </div>
                <div class="col">
                    <div class="text-right">
                        <a href="{{ episode.url | absolute_url }}" class="btn btn-primary">
                            <i class="tim-icons icon-triangle-right-17"></i> Play
                        </a>
                    </div>
                </div>
            </div>
            {% unless forloop.last %}
                <hr />
            {% endunless %}
        </div>
        {% endfor %}
    </div>
</div>
